<div class="row">
	<div class="col-lg-3 ">
		<br>
		<form>
			<div class="form-group ">
				<input class="form-control" type="text" id="long" name="long" placeholder="longitude" value="<%= params[:long] %>">
				<input class="form-control" type="text" id="lat" name="lat" placeholder="latitude" value="<%= params[:lat] %>">
				<input class="form-control" type="text" id="radius" name="radius" placeholder="Radius in meters" value="<%= params[:radius] %>">
			<button type="submit" class="btn btn-success">Search</button>
		</div>

		</form><br>

		<p>Tweets found: <%= @tweets.count %> </p>
		<ul>
			<% @tweets.each do |tweet| %>
				<div class="well"><li><%= tweet.text %> <%= tweet.location%></li></div>
			<% end %>
		</ul>

		<%= paginate @tweets %>
	</div>
</div>